/*Thibeau Thomas1*/

@font-face{
    font-family: 'martellas_scriptdemo_';
    src: url('Lettertype/Lettertype_script.woff2') format('woff2'),
    url('Lettertype/Lettertype_script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior:smooth
}
h1{
    font-weight: 500;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    font-size: 80px;
    padding-top: 30px;
}


/*Hier begint "Homepage" sectie*/
body {
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
#home .hero {
    margin-bottom:190px;
}
#home #myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}
#home .logo{
    width: 120px;
    cursor: pointer;
}
#home .logo:hover{
    transition: width 2s, height 2s, transform 1s;
    transform: rotate(360deg);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    margin: auto;
    padding: 3px 0;
    z-index: 100000;
    height: 85px;
}
.navbar.sticky{
    padding: 3px 0;
    background: #22A895;
    opacity: 90%;
}
.navbar .logo{
    font-size: 4em;
    margin-left: 60px;
}
#home .navbar ul li{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 60px 0 5px;
}
nav.black ul{
    background: black;
}
#home .navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#home .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #22A895;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
#home .navbar ul li:hover::after{
    width: 100%;
}
#home .content{
    width: 100%;
    margin-top: 230px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    z-index: -1;
}
#home .content h1 {
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    font-size: 150px;
    font-weight:normal;
    font-style:normal;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    position: center;
    text-align: center;
    padding-top: 500px;
}
#home .content p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 35px;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    position: center;
    text-align: center;
}
#home button{
    width: 180px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid rgb(37,170,150) ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.span_content{
    background: rgb(37,170,150) ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
#home button:hover span{
    width: 100%;
}
.navbar .menu-hamburger{
    display: none;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 50px;
    color: white;
    z-index: 2;
}
@media screen and (max-width: 1300px){
    body {
        overflow-x: hidden;
    }
    #home .navbar ul li a{
        color: white;

    }
    .navbar{
        padding: 0;
        margin-top: 0;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .navbar .menu-hamburger:hover{
        transform: scale(1.3);
        transition: .3s;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(12px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1s ease;
        z-index: 2;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #home .navbar ul li{
        margin: 50px 0;
        font-size: 45px;
        padding-top: 25px;

    }
    .navbar .logo{
        margin-left: 40px;
    }
    .menu-hamburger.sticky{
        color: black;
    }
}
.navbar.sticky ul li a{
    color: black;
    font-size: 15px;
}
.navbar.sticky.navbar{
    height: 50px;
}
.navbar.sticky.navbar img{
    margin-top: 30px;
}


/*Hier begint "About-us" sectie*/

.about{
    width: 100%;
    background-color: #101010;
    padding: 100px 0;
}
.about img{
    height: auto;
    width:400px;
    border-radius: 50px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline #22A895;
}
.about-text h2{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.span_about{
    color: #22A895;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #22A895;
    color: white;
    text-decoration: none;
    border: 2px solid #22A895;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
}
/*Hier begint "Line-Up" sectie*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#line_up html {
    font-size: 62.5%;
}
#line_up .Line-up{
    background-color: #191919;
}
#line_up body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#line_up .titelh1{
    text-align: center;
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: underline #22A895;

}
#line_up .container .box {
    position: relative;
    width: 25rem;
    height: 25rem;
    margin:4em;

}
.container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
}
.container .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
}
#line_up .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
#line_up .imgBox img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    resize: both;
}
#line_up .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}
#line_up .content h2 {
    display: block;
    font-size: 2rem;
    color: black;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
}
.span_line-up {
    color: rgb(37,170,150);
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
@media (max-width: 600px) {
    #line_up  .container .box:hover .content {
        transform: translate(0, 3.5rem);
    }
    #line_up .container .box:hover .imgBox {
        transform: translate(0, -3.5rem);
    }

}

/*Hier begint "Tickets" sectie*/

.Tickets{
    background: black;
    padding: 50px;
}
.h1_tickets{
    text-align: center;
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: underline #22A895;

}
.esq-store{
    min-width: 1150px;
    min-height: 1000px;
}

/*Hier begint "Busuren" sectie*/

#bus_uren{
    background: #3231;
}
#bus_uren *{
    box-sizing: border-box;

}
.table_container{
    padding: 0 10%;
    margin: 40px auto 70px;
}
.table_container h1{
    text-align: center;
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
}
.table_container h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: 500;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    padding-top: 15px;
    text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: #22A895;
}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    opacity: 1;
    padding:12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: white;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e385;
}
.table .text_open{
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 1px;
    color: #22A895;
}
.table_container1{
    padding: 0 10%;
    margin: 40px auto 50px;
}
.table_container1 h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: 500;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    padding-top: 15px;
    text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
}
.table1{
    width: 100%;
    border-collapse: collapse;
}
.table1 thead{
    background-color: #22A895;
}
.table1 thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    opacity: 1;
    padding:12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table1 tbody tr td{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: white;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e385;
}
.table1 .text_open{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #22A895;
}
@media (max-width: 768px) {
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 25px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    .table .text_open{
        display: none;
    }
}
@media (max-width: 768px) {
    .table1 thead{
        display: none;
    }
    .table1, .table1 tbody, .table1 tr, .table1 td{
        display: block;
        width: 100%;
    }
    .table1 tr{
        margin-bottom: 25px;
    }
    .table1 tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table1 td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    .table1 .text_open{
        display: none;
    }
}

/* Partners SECTION*/
#Partners *{
    box-sizing: border-box;

}
#Partners body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Partners .partners {
    background-color: #191919;
}
#Partners body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners .container_partners {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
#Partners .partner-titel{
    color: white;
    text-align: center;
    text-decoration: underline #22A895;
    text-transform: uppercase;
    margin: 50px auto 0;
}
#Partners .container_partners .box_partners {
    position: relative;
    width: 20rem;
    height: 10rem;
    margin:1em;
}
#Partners .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
#Partners .imgBox img {
    width: 16rem;
    height: 7rem;
    object-fit: cover;
    resize: both;
    border-radius: 10px;
    transition: 1s;
}
#Partners .imgBox img:hover{
    transform: scale(1.4);
}
@media only screen and (max-width: 800px) {
    .container_partners {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .box_partners {
        width: 100%;
    }
}

/*Hier begint "Contact" sectie*/

#Contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(Assets/contact.jpg);
    background-size: cover;
}
#contact .content{
    text-align: center;
}
.h2_contact {
    font-weight: 500;
    color: white;
    text-decoration: underline #22A895;
}
#Contact .container .content p{
    font-weight: 300;
    color: white;
}
#Contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;

}
.container .contactInfo .box{
    position: relative;
    padding: 30px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(37,170,150);
    font-size: 22px;
}
.container .contactInfo .box .text p{
    font-size: 20px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
    margin-top: 60px;
    border-radius: 18px;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .input_box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .input_box input,
.contactForm .input_box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .input_box .span_contact{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .input_box input:focus ~ .span_contact{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .input_box input[type="submit"]{
    width: 100px;
    background: rgb(37,170,150);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.content{
    color: white;
    text-align: center;
}
.content p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
h2.h2_contact {
    font-size: 35px;
}
@media (max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
/*Hier begint "Footer" sectie*/

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 15px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.socials{
    display: flex;
}
.socials a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22A895;
    border-radius: 50%;
    margin: 22px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #22A895;
}
.socials a:hover{
    transform: scale(0.9);
    transition: .3s;
    background-color: transparent;
}
.end{
    position: absolute;
    color: white;
    bottom: 35px;
    font-size: 10px;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}











