/*Thibeau Thomas*/

@font-face{
    font-family: 'martellas_scriptdemo_';
    src: url('Lettertype/Lettertype_script.woff2') format('woff2'),
    url('Lettertype/Lettertype_script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior:smooth
}

/*Hier begint "Homepage" sectie*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
#home .hero {
    margin-bottom: 145px;
}
#home #myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#home .logo{
    width: 120px;
    cursor: pointer;
}
#home .logo:hover{
    transition: width 2s, height 2s, transform 1s;
    transform: rotate(360deg);
}
#home .navigatiebar{

    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .navigatiebar ul li{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
#home .navigatiebar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#home .navigatiebar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #22A895;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
#home .navigatiebar ul li:hover::after{
    width: 100%;
}
#home .content{
    width: 100%;
    margin-top: 230px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
#home .content h1 {
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    font-size: 110px;
    font-weight:normal;
    font-style:normal;
    text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
    position: center;
    text-align: center;
}
#home .content p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 35px;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    position: center;
    text-align: center;
}
#home button{
    width: 180px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid rgb(37,170,150) ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;


}
.span_content{
    background: rgb(37,170,150) ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
#home button:hover span{
    width: 100%;
}

/*Hier begint "About-us" sectie*/

.about{
    width: 100%;
    background-color: #101010;
    padding: 100px 0;
}
.about img{
    height: auto;
    width:400px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h2{
    color: white;;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.span_about{
    color: #22A895;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #22A895;
    color: white;
    text-decoration: none;
    border: 2px solid #22A895;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
}


/*Hier begint "Line-Up" sectie*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#line_up html {
    font-size: 62.5%;
}
#line_up .Line-up{
    background-color: #191919;
}
#line_up body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#line_up .titelh1{
    color: white;
    font-size: 60px;
    width: 1130px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    font-family: 'martellas_scriptdemo_', Arial, sans-serif;
    text-decoration: underline #22A895;
}
#line_up .container .box {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin:4em;

}
.container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
}
.container .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
}
#line_up .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
#line_up .imgBox img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}
#line_up .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}
#line_up .content h2 {
    display: block;
    font-size: 2rem;
    color: black;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
}
.span_line-up {
    color: rgb(37,170,150);
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
@media (max-width: 600px) {
    #line_up  .container .box:hover .content {
        transform: translate(0, 3.5rem);
    }
    #line_up .container .box:hover .imgBox {
        transform: translate(0, -3.5rem);
    }
}

/*Hier begint "Contact" sectie*/

#Contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(Assets/contact.jpg);
    background-size: cover;
}
#contact .content{
    text-align: center;
}
.h2_contact h2{
    font-size: 50px;
    font-weight: 500;
    color: white;
}
#Contact .container .content p{
    font-weight: 300;
    color: white;
}
#Contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 30px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
    font-size: 22px;
}
.container .contactInfo .box .text p{
    font-size: 20px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
    margin-top: 75px;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputbox .span_contact{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ .span_contact,
.contactForm .inputbox input:valid ~ .span_contact,
.contactForm .inputbox textarea:focus ~ .span_contact,
.contactForm .inputbox textarea:valid ~ .span_contact{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.content{
    color: white;
    text-align: center;
}
.content p{
    margin-top: 20px;
    margin-bottom: 20px;
    /* HIER ZET JE DE ONDERSTE TEKST GROTER */
    font-size: 20px;
}

h2.h2_contact {
    /* HIER ZET JE DE TITEL GROTER */
    font-size: 35px;
}

@media (max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

/*Hier begint "Footer" sectie*/

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 15px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.socials{
    display: flex;
}
.socials a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22A895;
    border-radius: 50%;
    margin: 22px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #22A895;
}
.socials a:hover{
    transform: scale(0.9);
    transition: .3s;
    background-color: transparent;
}
.end{
    position: absolute;
    color: #22A895;
    bottom: 35px;
    font-size: 14px;
}











